html {
    scroll-behavior: smooth;
}

body{
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #383434;
    display: flex;
    margin: 0;
    padding: 0;

}
* {
    list-style: none;  
    text-decoration: none;
    padding-left: 0;
}
.container{
   max-width: 1440px;
   margin: 0 auto; 

}
.header{
    background-color: #9f9d9d;
}

.header_nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px;
    margin: 0;
}
.header_nav-item{
    padding: 5px 20px 0 0;
}
.header_nav-item a{
    color:rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 22px;
}
.header_nav-item a:hover{
    color: rgb(235, 10, 52);
    transition: 0.5s;
}
.main{
    display: flex;
    background-color: #efe9e9;
}
.container_left{
    background-color: #9f9d9d; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    min-width: 200px;
}
.mine_image{
    width: 100%;
}
.ava_image{
    width: 100%;
}
.mine_mobile{
    display: none;
}
.contacts, .language, .profile, .educacion, .skills, .code, .projects{
    padding: 20px 0 10px;
}
.contacts_title:after, .skills_title:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
    right: 0;
    background:rgba(255, 255, 255, 1);
    border-radius: 5px;
}
.language_title:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
    right: 0;
    background:rgba(255, 255, 255, 1);
    border-radius: 5px;
}
.contacts_text-info, .language_text-info, .skills_text-info, .projekt_Link-text{
    padding-bottom: 6px;
}
.container_right{
    padding: 20px;
}
.mine_title{
    font-size: 50px;
    font-weight: 600;
}
.mine_prof{
    font-size: 20px;
}
.contacts_title, .language_title, .skills_title, .mine_mobile{
    color:rgba(255, 255, 255, 1);
}
.contacts_text-info, .language_text-info, .skills_text-info{
    color:rgba(255, 255, 255, 1);
}
.profile_title:after, .projects_title:after, .education_title:after, .code_title:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    left: 0;
    right: 0;
    background:#9f9d9d;
    border-radius: 5px;
}
.profile_title, 
.education_title, 
.skills_title, 
.language_title,
.contacts_title,
.code_title,
.projects_title
{
    font-size: 24px;
    line-height: 38px;
}
.code_text{
    border: solid #9f9d9d;
    border-width: 1px;
}
.code_js{
    padding-left: 15px;
}
.projekt_Link-text a{
    color: #383434;
}
.projekt_Link-text a:hover{
    color:rgb(235, 10, 52);
    
}
.footer{
    background-color: #9f9d9d;
}
.footer_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 10px;
    line-height: 0;
}
.github_logo{
    transition: .5s;
    filter: invert(0%);
    height: 50px;
}
.github_logo:hover{
    filter: invert(100%);
}
.rsschool_logo{
    transition: .5s;
    filter: invert(0%);
}
.rsschool_logo:hover{
    filter: invert(100%);
}
b{
    color:rgb(235, 10, 52);
}


@media (max-width: 900px){
.header_nav-list{
    padding-left: 10px;
}
.contacts, .language, .profile, .educacion, .skills, .code, .projects{
    padding: 10px 0 10px;
}
}
@media (max-width: 680px){
body{
    font-size: 14px;
    line-height: 18px;
}
.mine_title{
    font-size: 40px;
    font-weight: 500;
}
.contacts, .language, .profile, .educacion, .skills, .code, .projects{
    padding: 5px 0 5px;
}
}
@media (max-width: 600px){
.main{
    display: block;
}
.header_nav-item{
    display: none;
}
.mine_image{
    width: 100%;
    display: flex;
}
.ava_image{
    width: 40%;
}
.mine_mobile{
    display: block;
    padding-left: 15px;
    padding-top: 50px;
}
.mine_title-mobile{
    font-size: 35px;
    font-weight: 500;
}
.mine_prof-mobile{
    font-size: 18px;
}
.header_nav-list{
    height: 10px;
    padding: 10px;
}
.mine{
    display: none;
}
}
@media (max-width: 440px){
 .code_js{
    font-size: 13px;
    line-height: 17px;
}
.mine_title-mobile{
    font-size: 30px;
    font-weight: 500;
} 
.mine_prof-mobile{
    font-size: 17px;
}
}
@media (max-width: 380px){
.mine_title-mobile{
    font-size: 24px;
    font-weight: 400;
} 
.mine_prof-mobile{
    font-size: 14px;
}   
}